.version.about_us /* version checker */
{
	color: #0000F2;
	background-color: #D64FBC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu222
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u222
{
	z-index: 2;
	min-height: 78px;
	background-color: #D7272D;
}

#u222_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#buttonu224
{
	z-index: 7;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 78px;
}

#u225-4
{
	z-index: 8;
	width: 106px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#buttonu224:hover #u225-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 12px -10000px 0px 0px;
}

#buttonu224:hover #u225-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu226
{
	z-index: 12;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 228px;
}

#u227-4
{
	z-index: 13;
	width: 84px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 23px;
}

#buttonu226:hover #u227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#buttonu226:hover #u227-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u223-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 378px;
}

#buttonu228
{
	z-index: 17;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 783px;
}

#buttonu228.ButtonSelected
{
	background-color: #D7272D;
	width: 125px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u229-4
{
	z-index: 18;
	width: 84px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 23px;
}

#buttonu226.ButtonSelected #u227-4,#buttonu228:hover #u229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#buttonu228.ButtonSelected #u229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#buttonu228:hover #u229-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu230
{
	z-index: 22;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 933px;
}

#buttonu224:hover,#buttonu226:hover,#buttonu230:hover
{
	background-color: #545454;
	width: 125px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u231-4
{
	z-index: 23;
	width: 106px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#buttonu224.ButtonSelected #u225-4,#buttonu230:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 12px -10000px 0px 0px;
}

#buttonu230.ButtonSelected #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 12px -10000px 0px 0px;
}

#buttonu230:hover #u231-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u222-bw
{
	z-index: 2;
	min-height: 78px;
}

#u259
{
	z-index: 27;
	height: 78px;
	background-color: #D7272D;
}

#u259-bw
{
	z-index: 27;
	margin-top: 469px;
	height: 78px;
}

#u268-4
{
	z-index: 28;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
	left: -85px;
}

#pu269
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 528px;
	margin-left: 822px;
}

#u269
{
	z-index: 32;
	width: 291px;
	min-height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u271
{
	z-index: 33;
	width: 244px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 77px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -524px;
}

