.version.contact_us /* version checker */
{
	color: #0000E9;
	background-color: #63D9B0;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu238
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u238
{
	z-index: 2;
	min-height: 78px;
	background-color: #D7272D;
}

#u238_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#buttonu240
{
	z-index: 7;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 141px;
}

#u241-4
{
	z-index: 8;
	width: 106px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#buttonu240:hover #u241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 12px -10000px 0px 0px;
}

#buttonu240:hover #u241-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu242
{
	z-index: 12;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 291px;
}

#u243-4
{
	z-index: 13;
	width: 84px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 23px;
}

#buttonu242:hover #u243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#buttonu242:hover #u243-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u239-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 441px;
}

#buttonu244
{
	z-index: 17;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 846px;
}

#buttonu240:hover,#buttonu242:hover,#buttonu244:hover
{
	background-color: #545454;
	width: 125px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u245-4
{
	z-index: 18;
	width: 84px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 23px;
}

#buttonu242.ButtonSelected #u243-4,#buttonu244:hover #u245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#buttonu244.ButtonSelected #u245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#buttonu244:hover #u245-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu246
{
	z-index: 22;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 996px;
}

#buttonu246.ButtonSelected
{
	background-color: #D7272D;
	width: 125px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u247-4
{
	z-index: 23;
	width: 106px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#buttonu240.ButtonSelected #u241-4,#buttonu246:hover #u247-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 12px -10000px 0px 0px;
}

#buttonu246.ButtonSelected #u247-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 12px -10000px 0px 0px;
}

#buttonu246:hover #u247-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u238-bw
{
	z-index: 2;
	min-height: 78px;
}

#u260
{
	z-index: 27;
	height: 78px;
	background-color: #D7272D;
}

#u260-bw
{
	z-index: 27;
	margin-top: 469px;
	height: 78px;
}

#u277-4
{
	z-index: 30;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
	left: -84px;
}

#pu273
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 528px;
	margin-left: 822px;
}

#u273
{
	z-index: 28;
	width: 244px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 77px;
}

#u275
{
	z-index: 29;
	width: 291px;
	min-height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -524px;
}

