.version.links /* version checker */
{
	color: #00001D;
	background-color: #53D169;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u208
{
	z-index: 2;
	min-height: 78px;
	background-color: #D7272D;
}

#buttonu212
{
	z-index: 7;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 90px;
}

#u213-4
{
	z-index: 8;
	width: 106px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#buttonu212:hover #u213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 12px -10000px 0px 0px;
}

#buttonu212:hover #u213-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu214
{
	z-index: 12;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 240px;
}

#buttonu214.ButtonSelected
{
	background-color: #D7272D;
	width: 125px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u215-4
{
	z-index: 13;
	width: 84px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 23px;
}

#buttonu214:hover #u215-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#buttonu214:hover #u215-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u211-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 390px;
}

#buttonu216
{
	z-index: 17;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 795px;
}

#u217-4
{
	z-index: 18;
	width: 84px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 23px;
}

#buttonu214.ButtonSelected #u215-4,#buttonu216:hover #u217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#buttonu216.ButtonSelected #u217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#buttonu216:hover #u217-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu218
{
	z-index: 22;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 945px;
}

#buttonu212:hover,#buttonu216:hover,#buttonu218:hover
{
	background-color: #545454;
	width: 125px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u219-4
{
	z-index: 23;
	width: 106px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#buttonu212.ButtonSelected #u213-4,#buttonu218:hover #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 12px -10000px 0px 0px;
}

#buttonu218.ButtonSelected #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 12px -10000px 0px 0px;
}

#buttonu218:hover #u219-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u208-bw
{
	z-index: 2;
	min-height: 78px;
}

#u294-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-left: 300px;
	margin-top: 26px;
	position: relative;
}

#pu298
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 114px;
}

#u298
{
	z-index: 38;
	width: 167px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u304
{
	z-index: 40;
	width: 161px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 284px;
}

#u310
{
	z-index: 42;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#pu316-4
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 31px;
}

#u316-4
{
	z-index: 44;
	width: 162px;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u317-4
{
	z-index: 48;
	width: 162px;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 281px;
}

#u318-4
{
	z-index: 52;
	width: 162px;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 581px;
}

#u258
{
	z-index: 27;
	min-height: 51px;
	background-color: #D7272D;
	padding-bottom: 27px;
}

#u208_align_to_page,#u258_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u266
{
	z-index: 33;
	width: 235px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 999px;
}

#u258-bw
{
	z-index: 27;
	min-height: 51px;
	margin-top: 121px;
}

#pu261-4
{
	width: 0.01px;
	margin-left: -85px;
	margin-top: -65px;
}

#u261-4
{
	z-index: 28;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u262
{
	z-index: 32;
	width: 291px;
	min-height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 907px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

